/* income.css */

#income-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Adjust width for smaller screens */
@media (max-width: 768px) {
  #income-form-container {
    width: 80%;
  }
}

.income-header {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.income-input-field {
  width: calc(100% - 20px);
  max-width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.income-input-field:focus {
  border-color: #6c63ff;
}

.income-submit-button {
  width: 100%;
  padding: 10px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.income-submit-button:hover {
  background-color: #554fdb;
}

.income-message {
  margin-top: 20px;
  font-size: 16px;
  color: #007bff;
  text-align: center;
}

.category-select-container {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.add-category-inside-button {
  display: flex;
  margin: 5px 15px;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
