.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.brand-link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.brand-link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  transition: transform 0.3s;
}

.brand-link:hover {
  transform: scale(1.1);
}

.links {
  display: flex;
}

.links a {
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.links a:hover {
  background-color: #555;
}

.user-icon {
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: greenyellow;
  color: #fff;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: none;
}
.dropdown:hover {
  display: block;
}

.links a:focus,
.links a.active,
.nav-active {
  background-color: #555;
  color: #fff;
}

nav ul li a.active {
  color: blue; /* Active link color */
}

.user-icon:hover .dropdown {
  display: block;
}

.dropdown span {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
}

.dropdown span:last-child {
  margin-bottom: 0;
}

.dropdown span:hover {
  color: black;
  background-color: blue;
  border-radius: 5px;
  padding: 2px;
}

.dropdown span:hover .dropdown {
  display: block;
}
