/* Summary Container */

.summary-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.summary-header {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.summary-header select {
  padding: 8px 12px;
  margin: 3px 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.summary-header select:hover {
  background-color: greenyellow;
}

.summary-header select option {
  font-size: 18px;
  color: white;
  background-color: rgb(33, 33, 208);
}

.summary-header select:focus {
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
}

.summary-left {
  display: flex;
  flex-direction: column;
  max-width: 45%;
}

/* Category-wise Expenses Container */
.category-wise-expenses-container,
.category-wise-incomes-container,
.total-savings-container {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1); */
}

.summary-right {
  min-width: 70%;
}

/* Graph Container */
.graph-container {
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.graph-row {
  display: flex;
  justify-content: space-around;
}

.graph-item1,
.graph-item2 {
  margin: 1px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  min-width: 45%;
  margin: 5px;
  background-color: wheat;
}

/* Responsive Layout */
@media (max-width: 768px) {
  .summary-container {
    flex-direction: column;
  }

  .summary-right {
    margin-top: 20px;
  }
}

.remove-button {
  margin: 5px;
  padding: 2px;
  background-color: #1811e1;
  color: white;
  border: none;
  border-radius: 20px;
  width: 35px;
  height: 25px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: rgb(203, 19, 32);
  color: black;
}

.remove-button:focus {
  outline: none;
}

.remove-button:active {
  transform: scale(0.95);
}
