body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("./images/back_image.png");
  box-sizing: border-box;
  background-size: cover;
}

.main-content {
  /* border: 2px solid red; */
  width: 100%;
  justify-content: center;
  position: relative;
  /* opacity: 1; */
  /* background-color: none; */
  /* border-radius: 5px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

/* Add more custom styles as needed */
